<div class="drop-down-container">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text drop-down-container--label" for="inputGroupSelect01">State</label>
    </div>
    <select class="custom-select" id="inputGroupSelect01" #sel (change)="onSelected(sel.value)" placeholder="Choose State...">
      <option selected>Choose State...</option>
      <option value="{{state.region_code}}" *ngFor="let state of states">{{ state.region }}</option>
    </select>
  </div>
</div>