<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Hospital Statistical</span>
</nav>
<div class="container-fluid">
  <div class="row my-3">
    <div class="col">
      <div class="card">
        <h5 class="card-header">Period: Year 2015</h5>
        <div class="card-body">
          <app-drop-down-widget></app-drop-down-widget>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="card">
        <h5 class="card-header">Alaska Station</h5>
        <div class="card-body mb-3">
          <app-statistics></app-statistics>
        </div>
      </div>
    </div>
    <div class="col-6">
      <app-chart-widget></app-chart-widget>
    </div>
  </div>
</div>